.vscode/**
Help/guide/tutorial/Step1_build/**
Help/guide/tutorial/Step2_build/**
Help/guide/tutorial/Step3_build/**
Help/guide/tutorial/Step4_build/**
Help/guide/tutorial/Step5_build/**
Help/guide/tutorial/Step6_build/**
Help/guide/tutorial/Step7_build/**
Help/guide/tutorial/Step8_build/**
Help/guide/tutorial/Step9_build/**
Help/guide/tutorial/Step10_build/**
Help/guide/tutorial/Step11_build/**
Help/guide/tutorial/Step12_build/**
Help/guide/tutorial/Complete_build/**

# Compiled Object files
**/.DS_Store
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json

include/divisible/*


## Local 

.idea/*.xml

build/**/*

include/*
lib/*
bin/*
test/test_runner